.App {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.sidebar {
  border-right: 1px solid #ccc;
  height: 100vh;
}


.current-route {
  padding:1rem .5rem;
}

.main-content {
  padding: 1rem;
}