.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 80px min-content;
}

.appbar {
    grid-column: 2 / -1;
}

.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100vh;
  border-right: 1px solid #ccc;
}
