.Logo {
    background-color: rgb(136, 165, 190);
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}